@media only screen and (max-width: 60em) {
    body {
        width: 100%;
        grid-template-columns: [start] 4fr [end];
        display: block;
    }

    #related{
        display: none;
    }
  }

@media only screen and (max-width: 30em) {
    body{

        #signup{
            text-align: left;
            padding-left: 0;
        }

        header{
            h1{
                font-size: 1.5em;
            }
            h2{
                display: none;
            }
        } 

        #news header {
            position: relative;
            a{
                color: black;
                filter: none;
                font-size: 0.8em;
                margin: 0em;
            }

          }
          #news header h1 {
            text-shadow: none;
          }
        
    }
}

